<ng-container *ngIf="vm$ | async as vm">
  <div class="relative">
    <div class="top-0 left-0 z-10 sticky bg-white p-3">
      <p-iconfield>
        <p-inputicon styleClass="pi pi-search" />
        <input type="text" pInputText placeholder="Search" fluid />
      </p-iconfield>
    </div>
    <div class="relative flex flex-col gap-4 px-3">
      @if(vm.isLoading) {
      <div class="flex justify-center p-4">
        <p-progress-spinner ariaLabel="loading" />
      </div>
      } @if (!vm.isLoading && !vm.list.length) {
      <div class="flex justify-center p-4 text-lg italic">No data</div>
      }
      <app-masonry [spacing]="16" [columns]="3" [data]="vm.list"></app-masonry>
    </div>
  </div>
</ng-container>
